<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="idn.project_whatsapp.whatsapp">

    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name="idn.project_whatsapp.whatsapp.activities.ConversationActivity"/>
        <activity android:name="idn.project_whatsapp.whatsapp.activities.ContactsActivity"/>
        <activity android:name="idn.project_whatsapp.whatsapp.activities.ProfileActivity"/>
        <activity android:name="idn.project_whatsapp.whatsapp.activities.MainActivity"/>
        <activity android:name=".activities.SignUpActivity"/>
        <activity android:name=".activities.StatusActivity"/>
        <activity android:name="idn.project_whatsapp.whatsapp.activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>